<mat-card>
    <mat-card-content>
        <h2>
            Patient DashBoard
        </h2>
        <table class="patient-table" >
         <tr>
            <th>Name</th>
            <th>bloodgroup</th>
            <th>Address</th>
            <th>ContactNumber</th>
        </tr> 
        <tr *ngFor="let patient of patients">

                <td>{{patient.name}}</td>
                <td>{{patient.bloodgroup}}</td>
                <td>{{patient.address}}</td>
                <td>{{patient.ContactNumber}}</td>
            </tr>
          
    
        </table>
    </mat-card-content>
</mat-card>