<p>login works!</p>
<div>

    
    <!-- <label for="Uname"><b>Username</b></label>
    <br>
    <input type="text" placeholder="enter the user id" name="uname" required>
    <br>
    <label for="password"><b>password</b></label>
    <br>
    <input type="password"name="password" required>
    <br>
    <form><button (click)="login()">login</button>
    </form> -->

</div>

<div>
    <form>
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1">
    <button type="submit" (click)="login" class="btn btn-primary">Submit</button>

  </form>
</div>
