<mat-card>
    <mat-card-content>
        <h2 style="background-color: aqua;">Login Page</h2>
        <form (ngSubmit)="login()" class="form-control">
            <mat-form-field>
                <input matInput placeholder="Username" [(ngModel)]="username" name="username"><br>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="password" [(ngModel)]="password" name="password"><br>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login</button><br><br>
        </form>
    </mat-card-content>
    
    </mat-card>